<h2 class="text-center">To Do List App</h2>
<hr>

<div class="box-add">
	<form (submit)="onAddTodo($event)" novalidate="">
		<div class="input-group" style="margin: 0 0 20px;">
			<input
				type="text"
				class="form-control"
				[(ngModel)]="title"
				[ngModelOptions]="{standalone: true}"
			>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default">
					<i class="fa fa-plus-circle text-primary"></i>
				</button>
			</span>
		</div>
	</form>
</div>

<div class="box-list">
	<div class="list-group">
		<app-todo-item
			*ngFor="let todo of todoListArray"
			[todo]="todo"
			(updateStatus)="onUpdateStatus($event)"
			(updateTitle)="onUpdateTitle($event)"
			(deleteTodo)="onDeleteTodo($event)"
		></app-todo-item>
	</div>
</div>
