<div class="g-row">
	<div class="g-col">
		<app-task-form (addTask)="addTask($event)"></app-task-form>
	</div>
	<div class="g-col">
		<app-task-list
			[tasks]="tasks"
			(setStatus)="setStatus($event)"
			(delete)="onDelete($event)"
			(update)="onUpdate($event)"
		></app-task-list>
	</div>
</div>
