<div class="list-group-item">
	<div class="title" *ngIf="isEditing == false">
		<span
			class="btn-check hover-cursor"
			[class.text-success]="todo.completed"
			(click)="updateStatusConnector.emit(todo)"
		>
			<i class="fa" [ngClass]="todo.completed ? 'fa-check-circle-o' : 'fa-circle-thin'"></i>
		</span>
		<span
			class="txt"
			[class.text-through]="todo.completed"
			(dblclick)="isEditing = true"
		>{{ todo.title }}</span>
	</div>
	<form
		(submit)="updateTitleConnector.emit(todo); isEditing = false"
		*ngIf="isEditing == true"
		novalidate=""
	>
		<input type="text" class="form-control" [(ngModel)]="todo.title" [ngModelOptions]="{standalone: true}" />
	</form>
	<div class="btns">
		<ng-container *ngIf="isEditing == true; else stopEditing">
			<span class="btn-cancel hover-cursor text-default" (click)="isEditing = false">
				<i class="fa fa-close"></i>
			</span>
		</ng-container>
		<ng-template #stopEditing>
			<span class="btn-edit hover-cursor text-primary" (click)="isEditing = true">
				<i class="fa fa-pencil"></i>
			</span>
			&nbsp;
			<span
				class="btn-delete hover-cursor text-danger"
				(click)="deleteTodoConnector.emit(todo.$key)"
			>
				<i class="fa fa-trash-o"></i>
			</span>
		</ng-template>
	</div>
</div>
