<div class="page_wraper">
  <app-header></app-header>

  <main class="main_body">
    <div class="p-grid">
      <div class="p-col main_nav">
        <app-main-nav></app-main-nav>
      </div>
      <div class="p-col main_contents">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
