html {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    cursor: default;
    background-color: #222;
    box-sizing: border-box;
}

body {
    font-family: "aktiv-grotesk-std", Helvetica Neue, Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.33333333;
    background-color: #222;
    color: #999;
}

.header {
    padding: 10px 0;
    height: 100px;
    overflow: hidden;
    line-height: 100px;
}

.g-col h1{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.main {
	padding-bottom: 90px;
}

.g-row {
    margin: 0 auto;
    width: 100%;
    max-width: 810px;
}

.g-row:before, .g-row:after {
    content: '';
    display: table;
}

.g-col {
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@media screen and (min-width: 33.75em)
.task-form {
    margin: 80px 0 20px;
}

.task-form {
    /*margin: 40px 0 10px;*/
}

@media screen and (min-width: 33.75em)
.task-form__input {
    height: 61px;
    font-size: 2rem;
}

.task-form__input {
    outline: none;
    border: 0;
    border-bottom: 1px dotted #666;
    border-radius: 0;
    padding: 0 0 5px 0;
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 33.75em)
.task-filters {
    margin-bottom: 55px;
}

.task-filters {
    padding-top: 10px;
    margin-bottom: 45px;
    padding-left: 1px;
    font-size: 1rem;
    line-height: 24px;
    list-style-type: none;
}

.task-filters li {
    float: left;
}

.task-filters a:hover,
.task-filters a.active {
    color: #fff;
}
.task-filters a.active {
    cursor: default;
}

.task-filters a {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

a {
    background-color: transparent;
}

.task-filters li:not(:first-child) {
    margin-left: 12px;
}

.task-filters li:not(:first-child):before {
    padding-right: 12px;
    content: '/';
    font-weight: 300;
}

.task-filters li:not(:first-child):before {
    padding-right: 12px;
    content: '/';
    font-weight: 300;
}

.task-filters:after {
    clear: both;
    content: '';
    display: table;
}

.task-list{
    border-top: 1px dotted #666;
}

@media screen and (min-width: 33.75em)
.task-item[_ngcontent-c4] {
    font-size: 1.5rem;
}

.task-item{
    display: flex;
    outline: none;
    border-bottom: 1px dotted #666;
    height: 60px;
    overflow: hidden;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
}

.cell:first-child {
    padding-right: 20px;
}

.cell:first-child, .cell:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.task-item__button:first-child {
    margin: 0;
}

.task-item__button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    outline: none;
    border: 0;
    border-radius: 100px;
    padding: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #2a2a2a;
    transform: translate(0, 0);
}

.cell:nth-child(2) {
    flex: 1;
    padding-right: 30px;
    overflow: hidden;
}

.task-item__title {
    display: inline-block;
    position: relative;
    max-width: 100%;
    line-height: 60px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-item__title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 2px solid #85bf6b;
    width: 0;
    height: 52%;
    content: '';
}

.cell:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.icon {
    line-height: 40px !important;
    color: #555;
}

.icon--active, .task-item__button:hover .icon--active {
    color: #85bf6b;
}

.task-item--completed .task-item__title {
    color: #666;
}

.task-item--completed .task-item__title {
    color: #666;
}

.task-item--completed .task-item__title:after {
    width: 100%;
}

.header__title:before {
    padding-right: 15px;
    color: #fff;
    font-family: 'FontAwesome';
    line-height: 20px;
    content: "\F10C";
}

/* Item */

.cell:nth-child(2) {
    flex: 1;
    padding-right: 30px;
    overflow: hidden;
}

.task-item__input {
    outline: none;
    border: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    color: inherit;
    font: inherit;
    background: transparent;
}