<section>
	<div class="container">
		<button class="btn btn-primary mb-15" [routerLink]="['/taskadd']">Thêm công việc</button>
		<app-task-form [keyword]="keyword" [sort]="sort"></app-task-form>
		<p class="mt-15 mb-15" *ngIf="keyword != ''">Bạn đang tìm kiếm: <strong>{{ keyword }}</strong></p>
		<div class="box-tbl">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="text-center">STT</th>
						<th class="text-center">ID</th>
						<th class="text-center">Tên</th>
						<th class="text-center">Trạng Thái</th>
						<th class="text-center">Hành Động</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr>
						<td></td>
						<td><input type="text" class="form-control" (input)="onFilterName($event)"></td>
						<td>
							<select class="form-control" (change)="onFilterStatus($event)">
								<option value="-1">Tất Cả</option>
								<option value="0">Ẩn</option>
								<option value="1">Kích Hoạt</option>
							</select>
						</td>
						<td class="text-center"><button type="button" class="btn btn-default btn-clear">Bỏ lọc</button></td>
					</tr> -->
					<tr *ngFor="let task of tasksFilter; let i = index;">
						<td class="text-center">{{ i+1 }}</td>
						<td class="text-center">{{ task.id }}</td>
						<td><a [routerLink]="['/task', task.id]">{{ task.name }}</a></td>
						<td class="text-center">
							<span
								class="label label-status"
								[class.label-danger]="task.status"
								[class.label-info]="!task.status"
								(click)="onUpdateStatus(task)"
							>
								{{ task.status ? 'Kích hoạt' : 'Ẩn' }}
							</span>
						</td>
						<td class="text-center">
							<button
								type="button"
								class="btn btn-sm btn-success"
								[routerLink]="['/task', task.id, 'edit']"
							><i class="fa fa-pencil mr-5"></i>Sửa</button>
							&nbsp;
							<button
								type="button"
								class="btn btn-sm btn-danger"
								(click)="onDelete(task.id)"
							><i class="fa fa-trash mr-5"></i>Xóa</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>