<h1>09-Sử dụng rxjs và Observable để lấy dữ liệu bất đồng bộ - async  </h1>
<h2>My favorite movies</h2>
<div class="parent">
  <ol class="movie-list">
    <li
      class="movieListItem"
      *ngFor="let eachMovie of movies"
      [class.selected]="eachMovie === selectedMovie"
      (click)="onSelect(eachMovie)"
    >
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </li>
  </ol>

  <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
</div>

<div>
  {{ movies | json }}
</div>
