.search-wrp {
	position: relative;
	.form-control {
		padding-right: 30px;
		&.has-value + .btn-clear {
			display: inline-block;
		}
	}
	.btn-clear {
		display: none;
		vertical-align: middle;
		position: absolute;
		right: 3px;
		top: 50%;
		transform: translate(0, -50%);
		background: transparent;
		border: 0;
		outline: 0;
		text-align: center;
		padding: 1px 5px;
		margin: 0;
		z-index: 99;
	}
}
