<p class="mb-20"><button type="button" class="btn btn-primary" [routerLink]="['/admin/products/new']">New Product</button></p>

<div class="row mb-20">
	<div class="col-md-6">
		<div class="search-wrp">
			<input
				type="text"
				class="form-control"
				placeholder="Search..."
				[ngClass]="search.value ? 'has-value' : ''"
				#search
				(keyup)="filterTitle(search.value)"
			>
			<button class="btn btn-default btn-clear" type="button" (click)="filterTitle(''); search.value = '';"><i class="fa fa-close"></i></button>
		</div>
	</div>
</div>

<data-table
	[items]="items"
	[itemCount]="itemCount"
	[pageLimits]="pageLimits"
	(reload)="reloadItems($event)"
	class="tbl-products">
	<data-table-column
		[property]="'imageUrl'"
		[header]="'Image'"
		[resizable]="true">
		<ng-template #dataTableCell let-item="item">
			<img [src]="item.imageUrl" [alt]="item.title" width="70">
		</ng-template>
	</data-table-column>
	<data-table-column
		[property]="'title'"
		[header]="'Title'"
		[sortable]="true"
		[resizable]="true">
	</data-table-column>
	<data-table-column
		[property]="'category'"
		[header]="'Category'"
		[sortable]="true"
		[resizable]="true">
	</data-table-column>
	<data-table-column
		[property]="'price'"
		[header]="'Price'"
		[sortable]="true"
		[resizable]="true">
		<ng-template #dataTableCell let-item="item">
			{{ item.price | currency:'USD' }}
		</ng-template>
	</data-table-column>
	<data-table-column
		[property]="'key'"
		[header]="'Actions'"
		[resizable]="true">
		<ng-template #dataTableCell let-item="item">
			<button type="button" class="btn btn-sm btn-success" [routerLink]="['/admin/products', item.key]">Edit</button>
			&nbsp;
			<button type="button" class="btn btn-sm btn-danger" (click)="deleteProduct(item.key)">Delete</button>
		</ng-template>
	</data-table-column>
</data-table>
