<h1>06-Sử dụng ngIf directive để ẩn hiện thẻ div trong Angular 5  </h1>
<h2>My favorite movies</h2>
<div class="parent">
  <ol class="movie-list">
    <li
      class="movieListItem"
      *ngFor="let eachMovie of movies"
      [class.selected]="eachMovie === selectedMovie"
      (click)="onSelect(eachMovie)"
    >
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </li>
  </ol>
  <div *ngIf="selectedMovie" class="movie-details">
    <h3>You selected: {{ selectedMovie.name }}:</h3>
    <table style="width: 100%;">
      <tr>
        <th>Name</th>
        <td>
          <input [(ngModel)]="selectedMovie.name" type="text">
        </td>
      </tr>
      <tr>
        <th>Release rear</th>
        <td>
          <input [(ngModel)]="selectedMovie.releaseYear" type="text">
        </td>
      </tr>
    </table>
  </div>
</div>
