<div class="sidebar-category sticky-top">
	<h3 class="st-sidebar" *ngIf="categories$ | async">&#8226; Category</h3>
	<div class="list-group category-list">
		<a
			*ngIf="categories$ | async"
			[routerLink]="['/']"
			class="list-group-item"
			[ngClass]="{'active': !category}">
			All Categories
		</a>
		<a
			*ngFor="let c of categories$ | async"
			[routerLink]="['/']"
			[queryParams]="{ category: c.key }"
			class="list-group-item"
			[ngClass]="{'active': category === c.key}">
			{{ c.name }}
		</a>
	</div>
</div>
