.sticky-top {
	top: 90px;
}
.sidebar-category {
	.category-list {
		a {
			text-decoration: none;
			&:not(.active):hover {
				background: #f1f1f1;
			}
			&:not(.active) {
				color: #212529;
			}
		}
	}
}
