<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
	<div class="container">
		<a class="navbar-brand h1" href="./">SHOP</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<a class="nav-link" [routerLink]="['/']">Home</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/shopping-cart']">
						Shopping Cart
						<span
							class="badge badge-pill badge-danger"
							*ngIf="cart$ | async as cart">
							{{ cart.totalItemsCount }}
						</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav" *ngIf="!appUser">
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/login']">Login</a>
				</li>
			</ul>
			<div class="dropdown" *ngIf="appUser">
				<a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ appUser?.name }}
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/products']"></a>
					<a class="dropdown-item" [routerLink]="['/my/orders']">My Orders</a>
					<ng-container *ngIf="appUser?.isAdmin">
						<a class="dropdown-item" [routerLink]="['/admin/orders']">Manage Orders</a>
						<a class="dropdown-item" [routerLink]="['/admin/products']">Manage Products</a>
					</ng-container>
					<a class="dropdown-item" (click)="logout()">Logout</a>
				</div>
			</div>
		</div>
	</div>
</nav>
