<nz-breadcrumb style="margin: 16px 0;">
  <nz-breadcrumb-item>
    <a routerLink="/">Home</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/blogs">Blog list</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    {{ id ? 'Update' : 'Create a blog' }}
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-card [nzTitle]="id ? 'Update' : 'Create'">
  <form
    nz-form
    [formGroup]="blogForm"
    class="form"
    (ngSubmit)="onSubmit()"
    class="form-blog"
  >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Title</nz-form-label>

      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-group [nzPrefix]="iconForTitle">
          <input type="text" nz-input formControlName="title" placeholder="Title" />
        </nz-input-group>

        {{ blogForm.get('title')?.errors.required }}
        {{ blogForm.get('title')?.errors.minlength }}

        <nz-form-explain *ngIf="blogForm.get('title')?.dirty && blogForm.get('title')?.errors?.required">
          The title field is required
        </nz-form-explain>
        <nz-form-explain *ngIf="blogForm.get('title')?.dirty && blogForm.get('title')?.errors?.minlength?.requiredLength">
          The title field must have at least {{ blogForm.get('title')?.errors?.minlength?.requiredLength }} characters
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control class="text-center">
        <button type="submit" nz-button nzType="primary">
          <i nz-icon type="save"></i>
          Save
        </button>
        &nbsp;
        <button type="button" nz-button nzType="default" (click)="clear()">
          <i nz-icon type="close"></i>
          Clear
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #iconForTitle><i nz-icon type="user"></i></ng-template>
</nz-card>

<!--
<form
  [formGroup]="blogForm"
  (ngSubmit)="onSubmit()"
  [ngClass]="{'is_submitted': isSubmitted}"
  class="form form_edit"
  novalidate
>
  <div class="ui-g ui-fluid form_group">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Title <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10">
      <input type="text" pInputText formControlName="title">
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['title'].errors?.required">
        Title is required.
      </p>
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['title'].errors?.minlength">
        The title must have a minimum length of greater than
        {{ blogForm.controls['title'].errors?.minlength?.requiredLength }}.
      </p>
    </div>
  </div>

  <div class="ui-g ui-fluid form_group">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Description <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10">
      <input type="text" pInputText formControlName="desc">
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['desc'].errors?.required">
        Description is required.
      </p>
    </div>
  </div>

  <div class="ui-g ui-fluid form_group">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Detail <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10">
      <textarea [rows]="10" pInputTextarea formControlName="detail">
      </textarea>
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['detail'].errors?.required">
        Detail is required.
      </p>
    </div>
  </div>

  <div class="ui-g ui-fluid form_group">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Photo <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10">
      <input type="text" pInputText formControlName="thumb">
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['thumb'].errors?.required">
        Photo is required.
      </p>
    </div>
  </div>

  <div class="ui-g ui-fluid form_group">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Category <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10">
      <p-dropdown
        [options]="categoryList"
        formControlName="categoryId"
        placeholder="Select a category"
        [showClear]="true"
      >
      </p-dropdown>
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['categoryId'].errors?.required">
        Category is required.
      </p>
    </div>
  </div>

  <div class="ui-g ui-fluid form_group">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Position <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10 checkbox_inline">
      <p-checkbox
        *ngFor="let item of positionList"
        [formControl]="blogForm.controls['positionIds']"
        [label]="item.name"
        [value]="item.id"
      >
      </p-checkbox>
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['positionIds'].errors?.required">
        Position is required.
      </p>
    </div>
  </div>

  <div class="ui-g ui-fluid form_group form_group_position">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Public Status <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10 input_switch">
      <p-inputSwitch formControlName="publicStatus"></p-inputSwitch>
      <span class="label_input_switch">
        {{ blogForm.controls['publicStatus'].value ? 'Yes' : 'No' }}
      </span>
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['publicStatus'].errors?.required">
        Public Status is required.
      </p>
    </div>
  </div>

  <div class="ui-g form_group form_group_position">
    <div class="ui-g-12 ui-lg-2 label">
      <label>Public Date <sup class="text_red">*</sup></label>
    </div>
    <div class="ui-g-12 ui-lg-10">
      <p-calendar
        dateFormat="dd/mm/yy"
        placeholder="dd/mm/yyyy"
        [showIcon]="true"
        formControlName="publicAt"
      >
      </p-calendar>
      <p class="text_error" *ngIf="isSubmitted && blogForm.controls['publicAt'].errors?.required">
        Public Date is required.
      </p>
    </div>
  </div>

  <div class="form_group text_center">
    <button
      pButton
      type="submit"
      [label]="id ? 'Update' : 'Create'"
      [icon]="id ? 'pi pi-pencil' : 'pi pi-plus'"
      iconPos="left"
    >
    </button>
  </div>

</form>

<p-toast></p-toast> -->
