<h1>15-HTTP service và cập nhật dữ liệu với PUT request trong Angular</h1>

<h2>My favorite movies</h2>
<div class="parent">
  <ol class="movie-list">
    <li
      class="movieListItem"
      *ngFor="let eachMovie of movies"
    >
      <a routerLink="/bai13/{{ eachMovie.id }}">
        {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
      </a>
    </li>
  </ol>
</div>
