<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Color Picker</h3>
	</div>
	<div class="panel-body">
		<ng-container *ngFor="let color of colors">
			<span [style.background-color]="color" (click)="outColorFn(color)"></span>
		</ng-container>
	</div>
</div>
