<form>
	<legend>Edit Course</legend>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" [(ngModel)]="course.name" [ngModelOptions]="{standalone: true}">
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea rows="5" class="form-control" [(ngModel)]="course.description" [ngModelOptions]="{standalone: true}"></textarea>
	</div>
	<div class="form-group">
		<label>Price</label>
		<input type="text" class="form-control" [(ngModel)]="course.fee" [ngModelOptions]="{standalone: true}">
	</div>
	<button type="button" class="btn btn-primary" (click)="onEditCourse()">Save</button>
</form>
