/* You can add global styles to this file, and also import other style files */
.text-through {
	text-decoration: line-through;
}
.hover-cursor:hover {
  cursor: pointer;
}
.box-list {
	.list-group-item {
		position: relative;
		padding-right: 65px;
		.title {
			.txt {
				position: relative;
				top: -3px;
			}
		}
		.btn-check,
		.btn-cancel,
		.btn-edit,
		.btn-delete {
			font-size: 20px;
		}
		.btn-check {
			margin-right: 6px;
		}
		.btn-cancel {
			color: #464646;
		}
		.btns {
			position: absolute;
			right: 15px;
			top: 50%;
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			transform: translate(0, -50%);
		}
	}
}
