/* You can add global styles to this file, and also import other style files */

/* -----------------------------------------------------------
  common
----------------------------------------------------------- */
html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

/* -----------------------------------------------------------
  form
----------------------------------------------------------- */
.ant-form-item-label > label {
  padding-right: 15px;
}
.ant-form-item-label > label:after {
  display: none;
}
