.box-search {
  text-align: center;
}
.box-search .movies {
  text-align: center;
  background:white;
  padding: 0.5em 1em 0.5em 1.5em;
  margin: 1em auto;
  max-width: 16em;
}

.box-search .movies .movieListItem {
  font-size: 0.875em;
  font-family: Georgia, Serif;
  background: #cce5ff;
  padding: 0.3em;
  margin: 0.2em;
  text-align: center;
}
