<div class="box-search">
  <h3>Movie search</h3>
  <input #searchBox (keyup)="search(searchBox.value)" />

  <ul class="movies">
    <li *ngFor="let movie of movies$ | async" class="movieListItem">
      <a routerLink="/bai13/{{ movie.id }}">
        {{movie.name}}
      </a>
    </li>
  </ul>
</div>
