/* You can add global styles to this file, and also import other style files */
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css);

/* *,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  cursor: pointer;
} */
body {
  overflow-y: scroll;
}
ul {
  list-style: none;
  padding: 0;
}
ul.nav {
  list-style: none;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 10px;
}
ul.nav > li.active > a,
ul.nav > li > a:hover {
  color: #DD0031;
}
ul.nav > li > a {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.parent {
  display: flex;
  flex-direction: row;
}
.parent > * {
  width: 100%;
  margin: 0.5em;
}
.movie-list {
  max-width: 320px;
  background: #007bff;
  padding: 2em;
}
.movie-list .movieListItem {
  font-size: 1em;
  background: #C4E3FF;
  padding: 0.2em 0.5em;
  margin-bottom: 0.2em;
}
.movie-list .movieListItem.selected {
  color: #fff;
  background: #56ca86;
}
.movie-list .movieListItem a {
  color: #000;
  text-decoration: none;
}
.movie-details {
  max-width: 320px;
  font-size: 1em;
  color: #fff;
  background: #56ca86;
  padding: 1em 0.5em;
  margin-bottom: 0.2em;
}
.movie-details h3 {
  padding: 0;
  margin: 0 0 0.5em;
}

.btn_blue {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  border: 0;
  line-height: 1.5;
  border-radius: .25em;
  cursor: pointer;
  padding: .375em .75em;
  margin: 0;
}

ul.top_movies > li {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 20%;
}
ul.top_movies > li > a {
  display: block;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background: mediumseagreen;
  border-radius: 20px;
  text-decoration: none;
  padding: 20px;
}
ul.top_movies > li > a:hover {
  background: green;
  cursor: pointer;
  color: #eee;
}

.ng-valid[required],
.ng-valid.required  {
  border: 1px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}
