<header class="header">
	<div class="g-row">
		<div class="g-col">
			<h1 class="header__title">Todo Angular</h1>
		</div>
	</div>
</header>

<main class="main">
	<router-outlet></router-outlet>
</main>
