<h1>03-Data binding là gì và quản lý module trong Angular</h1>
<h2>Movie's detail</h2>
<div><span>id: </span> {{ movie.id }}</div>
<div><span>name: </span> {{ movie.name | uppercase }}</div>
<div><span>Release year: </span> {{ movie.releaseYear }}</div>

<h2>Edit your information</h2>
<div>Name: <input [(ngModel)]="movie.name" type="text" placeholder="Enter name"></div>
<div>Release year: <input [(ngModel)]="movie.releaseYear" type="text" placeholder="Enter release year"></div>
