<div class="task-item" [class.task-item--completed]="task.completed" [class.task-item--editing]="isEditing">
	<div class="cell">
		<button
			aria-label="Mark task as completed"
			class="task-item__button"
			type="button"
			(click)="setStatusConnector.emit()"
			*ngIf="isEditing == false"
		>
			<span class="icon fa fa-check" [class.icon--active]="task.completed"><i class="hidden">done</i></span>
		</button>
	</div>
	<div class="cell">
		<div class="task-item__title" *ngIf="isEditing == false">{{ task.title }}</div>
		<form
			class="task-form"
			novalidate=""
			*ngIf="isEditing == true"
			(ngSubmit)="updateConnector.emit()"
		>
			<input
				type="text"
				name="title"
				class="task-item__input"
				autofocus=""
				autocomplete="off"
				[(ngModel)]="task.title"
			/>
		</form>
	</div>
	<div class="cell">
		<ng-container *ngIf="isEditing == true; else stopEditing">
			<button aria-label="Cancel editing" class="task-item__button" type="button" (click)="onStopEditing()">
				<span class="icon fa fa-close"><i class="hidden">Cancel</i></span>
			</button>
		</ng-container>
		<ng-template #stopEditing>
			<button
				class="task-item__button"
				type="button"
				(click)="onEditing()"
			>
				<span class="icon fa fa-pencil"><i class="hidden">edit</i></span>
			</button>
			<button
				class="task-item__button"
				type="button"
				(click)="deleteConnector.emit()"
			>
				<span class="icon fa fa-trash"><i class="hidden">delete</i></span>
			</button>
		</ng-template>
	</div>
</div>

<!-- <div class="task-item task-item--editing">
	<div class="cell">
	</div>
	<div class="cell">
		<form class="task-form" novalidate="">
			<input
				type="text"
				name="title"
				class="task-item__input"
				autofocus=""
				autocomplete="off"
			/>
		</form>
	</div>
	<div class="cell">
		<button aria-label="Cancel editing" class="task-item__button" type="button">
			<span class="icon fa fa-close"><i class="hidden">Cancel</i></span>
		</button>
	</div>
</div> -->