<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']">Trang chủ</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/tasks']">Quản lý công việc</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/taskadd']">Thêm công việc</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
