<ul class="nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/dashboard']">Trang chủ</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai01']">Bài 01</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai02']">Bài 02</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai03']">Bài 03</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai04']">Bài 04</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai05']">Bài 05</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai06']">Bài 06</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai07']">Bài 07</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai08']">Bài 08</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai09']">Bài 09</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai10']">Bài 10</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai11']">Bài 11</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai12']">Bài 12</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai13']">Bài 13</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai14']">Bài 14</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai15']">Bài 15</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai16']">Bài 16</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai17']">Bài 17</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai18']">Bài 18</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai19']">Bài 19</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai20']">Bài 20</a>
  </li>
</ul>
