<section [style.margin-top]="'30px'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<app-color-picker (outColor)="getColor($event)"></app-color-picker>
			</div>
			<div class="col-xs-12 col-md-6">
				<app-size-setting [size]="fontsizeDefault" (outSize)="getSize($event)"></app-size-setting>
				<app-reset (outReset)="getReset()"></app-reset>
			</div>
			<div class="col-xs-12">
				<app-result [color]="colorDefault" [size]="fontsizeDefault"></app-result>
			</div>
		</div>
	</div>
</section>
