<div class="main_table">
  <p class="text_right mt_0 mb_1">
    Total: <strong>{{ blogList?.length }}</strong>
  </p>
  <p-table
    [value]="blogList"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 80px;">ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Position</th>
        <th style="width: 80px;">Public Status</th>
        <th style="width: 100px;">Public Date</th>
        <th style="width: 100px;">Date Modified</th>
        <th style="width: 100px;">Edit</th>
        <th style="width: 110px;">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td style="text-align: center;">{{ rowData.id }}</td>
        <td>{{ rowData.title }}</td>
        <td>{{ rowData.category.name }}</td>
        <td>{{ rowData.positionNameList.join(', ') }}</td>
        <td>{{ rowData.publicStatus ? 'Yes' : 'No' }}</td>
        <td>{{ rowData.publicAt | date: 'dd/MM/yyyy' }}</td>
        <td>{{ rowData.dateModified | date: 'dd/MM/yyyy' }}</td>
        <td style="text-align: center;">
          <button
            pButton
            type="button"
            label="Edit"
            icon="pi pi-pencil"
            iconPos="left"
            routerLink="/blogs/{{ rowData.id }}"
          >
          </button>
        </td>
        <td style="text-align: center;">
          <button
            pButton
            type="button"
            label="Delete"
            class="ui-button-danger"
            icon="pi pi-trash"
            iconPos="left"
            (click)="onDelete(rowData.id)"
          >
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
