<h1>14-Sử dụng HTTP services để lấy dữ liệu từ GET request trong Angular 5  </h1>

<h2>My favorite movies</h2>
<div class="parent">
  <ol class="movie-list">
    <li
      class="movieListItem"
      *ngFor="let eachMovie of movies"
    >
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </li>
  </ol>
</div>

<hr>
{{ movies | json }}