<header class="main_header">
  <div class="p-grid p-align-center">
    <div class="p-col col_logo">
      <div class="logo">
        <a href="/" target="_blank" style="font-size: 38px; color: #19a7e2; text-decoration: none;">
          <strong>LOGO</strong>
        </a>
      </div>
    </div>
    <div class="p-col col_title">
      <h2>Blogs Management</h2>
    </div>
  </div>
</header>
