<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Data Driven Form</h3>
	</div>
	<div class="panel-body">
		<form
			[formGroup]="frmUser"
			novalidate="true"
			autocomplete="false"
			(ngSubmit)="onSubmitForm()"
		>
			<div class="form-group">
				<label>Username</label>
				<input
					type="text"
					name="txtUsername"
					class="form-control"
					formControlName="username"
				>
				<span class="label label-danger" *ngIf="frmUser.controls.username.dirty && frmUser.controls.username.errors?.required">Vui lòng nhập username</span>
				<span class="label label-danger" *ngIf="frmUser.controls.username.dirty && frmUser.controls.username.errors?.minlength">Username phải có độ dài từ 3 đến 20 ký tự</span>
				<span class="label label-danger" *ngIf="frmUser.controls.username.dirty && frmUser.controls.username.errors?.maxlength">Username phải có độ dài từ 3 đến 20 ký tự</span>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input
					type="password"
					name="txtPassword"
					class="form-control"
					formControlName="password"
				>
				<span class="label label-danger" *ngIf="frmUser.controls.password.dirty && frmUser.controls.password.errors?.required">Vui lòng nhập password</span>
				<span class="label label-danger" *ngIf="frmUser.controls.password.dirty && frmUser.controls.password.errors?.pattern">Password phải có độ dài tối thiểu 3 ký tự, bao gồm chữ hoa, chữ thường, số, ký tự đặc biệt</span>
			</div>
			<div class="form-group">
				<label>Fullname</label>
				<input
					type="text"
					name="txtFullname"
					class="form-control"
					formControlName="fullname"
				>
				<span class="label label-danger" *ngIf="frmUser.controls.fullname.dirty && frmUser.controls.fullname.errors?.required">Vui lòng nhập fullname</span>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input
					type="text"
					name="txtEmail"
					class="form-control"
					formControlName="email"
				>
				<span class="label label-danger" *ngIf="frmUser.controls.email.dirty && frmUser.controls.email.errors?.required">Vui lòng nhập email</span>
				<span class="label label-danger" *ngIf="frmUser.controls.email.dirty && frmUser.controls.email.errors?.pattern">Email không đúng định dạng</span>
			</div>
			<div class="form-group">
				<label>Phone</label>
				<input
					type="text"
					name="txtPhone"
					class="form-control"
					formControlName="phone"
				>
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="frmUser.invalid">Save</button>
			<!-- <button type="submit" class="btn btn-primary">Save</button> -->
			&nbsp;
			<button type="button" class="btn btn-primary" (click)="onResetForm()">Reset</button>
		</form>
	</div>
</div>
