<p>Color : {{ color }} - Fontsize : {{ size }}px</p>
<div id="content" [ngStyle]="setStyles()">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	Ab cumque, accusamus necessitatibus officiis. Impedit, 
	dolore dolorem velit. Quod repudiandae quasi sunt commodi 
	repellendus recusandae, repellat debitis similique rem, 
	eveniet autem. Lorem ipsum dolor sit amet, consectetur 
	adipisicing elit. Ab cumque, accusamus necessitatibus 
	officiis. Impedit, dolore dolorem velit. Quod repudiandae 
	quasi sunt commodi repellendus recusandae, repellat debitis 
	similique rem, eveniet autem.
</div>
