<div *ngIf="movie" class="movie-details">
  <h3>You selected: {{ movie.name }}</h3>
  <table style="width: 100%;">
    <tr>
      <th>Name</th>
      <td>
        <input [(ngModel)]="movie.name" type="text">
      </td>
    </tr>
    <tr>
      <th>Release rear</th>
      <td>
        <input [(ngModel)]="movie.releaseYear" type="text">
      </td>
    </tr>
  </table>
</div>

<br>
<button class="btn_blue" (click)="save()">Save</button>&nbsp;
<button class="btn_blue" (click)="goBack()">Back to list</button>
