<h3 class="mb-3">Shopping Cart</h3>

<div *ngIf="cart$ | async as cart">
	<p>
		You have <strong>{{ cart.totalItemsCount }}</strong> items in your shopping cart
		&nbsp;
		<button
			type="button"
			class="btn btn-sm btn-light"
			*ngIf="cart.totalItemsCount"
			(click)="clearCart()">
			Clear Shopping Cart
		</button>
	</p>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="text-center" style="width: 80px">Order</th>
					<th class="text-center" style="width: 100px">Image</th>
					<th>Product</th>
					<th class="text-center" style="width: 230px">Quantity</th>
					<th class="text-right" style="width: 130px">Price</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of cart.items; let i = index">
					<td class="text-center">{{ i + 1 }}</td>
					<td class="text-center"><img [src]="item.imageUrl" [alt]="item.title" width="70"></td>
					<td>{{ item.title }}</td>
					<td class="text-center">
						<app-product-quantity [product]="item" [shopping-cart]="cart"></app-product-quantity>
					</td>
					<td class="text-right">{{ item.totalPrice | currency:'USD' }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="text-right"><strong>{{ cart.totalPrice | currency:'USD' }}</strong></td>
				</tr>
			</tfoot>
		</table>
	</div>
	<a
		class="btn btn-primary"
		*ngIf="cart.items.length"
		[routerLink]="['/check-out']">
		Check Out
	</a>
</div>
