<div class="card">
	<div class="card-body">
		<h5 class="card-title">Order Summary</h5>
		<p class="card-text">You have <strong>{{ cart.totalItemsCount }}</strong> items in your shopping cart.</p>
		<ul class="list-group list-group-flush">
			<li class="list-group-item" *ngFor="let item of cart.items">
				{{ item.quantity }} x {{ item.title }}
				<span class="float-right font-weight-bold">
					{{ item.totalPrice | currency:'USD' }}
				</span>
			</li>
			<li class="list-group-item font-weight-bold">
				Total
				<span class="float-right">
					{{ cart.totalPrice | currency:'USD' }}
				</span>
			</li>
		</ul>
	</div>
</div>
