<p class="text-right">
  Total: <strong>{{ blogList?.length }}</strong>
</p>

<nz-table
  #dataTable
  [nzData]="blogList"
  nzShowPagination
  nzShowSizeChanger
  [nzScroll]="{ x: '1000px' }"
>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Category</th>
      <th>Position</th>
      <th>Public Status</th>
      <th>Public Date</th>
      <th>Date Modified</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataTable.data">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.categoryName }}</td>
      <td>{{ item.positionNameList.join(', ') }}</td>
      <td>{{ item.publicStatus ? 'Yes' : 'No' }}</td>
      <td>{{ item.publicAt | date: 'dd/MM/yyyy' }}</td>
      <td>{{ item.dateModified | date: 'dd/MM/yyyy' }}</td>
      <td>
        <button nz-button nzType="primary" routerLink="/blogs/{{ item.id }}">
          <i nz-icon [nzType]="'edit'" [nzTheme]="'outline'"></i>
          Edit
        </button>
      </td>
      <td>
        <button nz-button nzType="danger" (click)="onDelete(item.id)">
          <i nz-icon [nzType]="'delete'" [nzTheme]="'outline'"></i>
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
