<h1>12-Thêm màn hình Dashboard và điều hướng route mặc định</h1>
<h2>Top 5 movies</h2>
<ul class="top_movies">
  <li *ngFor="let eachMovie of movies">
    <a>
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </a>
  </li>
</ul>
