<div class="box-task-control mb-15">
	<div class="row">
		<div class="col-xs-6">
			<form class="search-wrp" (submit)="onSearch($event)">
				<div class="input-group">
					<input
						type="text"
						name="keyword"
						class="form-control"
						placeholder="Nhập từ khóa..."
						[(ngModel)]="keyword"
					>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search mr-5"></i>Tìm</button>
					</span>
				</div>
				<button
					type="button"
					class="btn btn-default btn-clear"
					(click)="onClear()"
				><i class="fa fa-close"></i></button>
			</form>
		</div>
		<div class="col-xs-6">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sắp Xếp <i class="fa fa-caret-square-o-down ml-5"></i></button>
				<ul class="dropdown-menu">
					<li (click)="onSort('nameasc')">
						<span [class.sort-selected]="sort == 'nameasc'"><span class="fa fa-sort-alpha-asc pr-5">Tên A-Z</span></span>
					</li>
					<li (click)="onSort('namedesc')">
						<span [class.sort-selected]="sort == 'namedesc'"><span class="fa fa-sort-alpha-desc pr-5">Tên Z-A</span></span>
					</li>
					<li role="separator" class="divider"></li>
					<li (click)="onSort('idasc')">
						<span [class.sort-selected]="sort == 'idasc'"><span class="fa fa-sort-alpha-asc pr-5">ID tăng dần</span></span>
					</li>
					<li (click)="onSort('iddesc')">
						<span [class.sort-selected]="sort == 'iddesc'"><span class="fa fa-sort-alpha-asc pr-5">ID giảm dần</span></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
