/* You can add global styles to this file, and also import other style files */

/* -----------------------------------------------------------
  common
----------------------------------------------------------- */
html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.page_wraper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.main_header {
  flex-grow: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
}
.main_header h2 {
  font-size: 26px;
  padding: 0;
  margin: 0;
}
.main_body {
  flex-grow: 1;
  padding: 20px 15px 50px;
}
.main_header .col_logo,
.main_body .main_nav {
  flex-grow: 0;
}
.main_header .col_title,
.main_body .main_contents {
  flex-grow: 1;
}
.main_header .col_logo .logo,
.main_body .main_nav nav {
  width: 250px;
}
.main_footer {
  flex-grow: 0;
  text-align: center;
  color: #fff;
  background: #20272a;
  padding: 20px 15px;
}
.text_left {
  text-align: left !important;
}
.text_right {
  text-align: right !important;
}
.text_center {
  text-align: center !important;
}
.pt_1 {
  padding-top: 1rem !important;
}
.mt_0 {
  margin-top: 0 !important;
}
.mb_1 {
  margin-bottom: 1rem !important;
}
.text_red {
  color: red !important;
}
.text_error {
  color: #a80000 !important;
}

/* -----------------------------------------------------------
  main_nav
----------------------------------------------------------- */
.main_nav nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main_nav nav > ul > li {
  margin-bottom: -1px;
}
.main_nav nav > ul > li > a {
  display: block;
  font-size: 16px;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
  transition: all 0.4s ease;
  padding: 12px 15px;
}
.main_nav nav > ul > li > a i {
  vertical-align: bottom;
}
.main_nav nav > ul > li > a:hover,
.main_nav nav > ul > li.active > a {
  color: #fff;
  background: #19a7e2;
  border-color: #19a7e2;
}

/* -----------------------------------------------------------
  confirm dialog
----------------------------------------------------------- */
.confirm_dialog_delete .ui-dialog {
  min-height: 154px
}

/* -----------------------------------------------------------
  form
----------------------------------------------------------- */
.form label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0;
}
@media only screen and (max-width: 64em) {
  .form label {
    padding: 0;
  }
}
.form .form_group {
  margin-bottom: 10px;
}
.checkbox_inline p-checkbox {
  white-space: nowrap;
  margin-right: 30px;
}
.radio_inline p-radiobutton {
  white-space: nowrap;
  margin-right: 30px;
}
.input_switch p-inputswitch,
.input_switch p-inputswitch span {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 0;
}
.input_switch .label_input_switch {
  font-weight: bold;
  margin: 0 0 0 0.5em;
}
.form_group .text_error {
  margin: 5px 0 0;
}
body .is_submitted .ui-inputtext.ng-invalid,
body .is_submitted p-dropdown.ng-invalid .ui-dropdown,
body .is_submitted p-calendar.ng-invalid .ui-inputtext {
  border: 1px solid #a80000;
}

/* -----------------------------------------------------------
  form_edit
----------------------------------------------------------- */
.form_edit {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.form_edit .label {
  text-align: right;
}
@media only screen and (max-width: 64em) {
  .form_edit .label {
    text-align: left;
  }
}

/* -----------------------------------------------------------
  form_search
----------------------------------------------------------- */
.form_search {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.form_search .label {
  text-align: right;
}
@media only screen and (max-width: 64em) {
  .form_search .label {
    text-align: left;
  }
}
