<h1>11-Làm việc với routes và RouterOutlet trong Angular 5</h1>

<ul>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai11/test-router-01']">Trang 01</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/bai11/test-router-02']">Trang 02</a>
  </li>
</ul>

<router-outlet></router-outlet>
