<section>
	<div class="container">
		<h2 class="text-center mb-15">{{ task.name }}</h2>
		<p class="text-center mb-15">
			Trạng thái:
			<span
				class="label label-status"
				[class.label-danger]="task.status"
				[class.label-info]="!task.status"
				(click)="onUpdateStatus(task)"
			>
				{{ task.status ? 'Kích hoạt' : 'Ẩn' }}
			</span>
		</p>
		<hr>
		<p class="text-center"><button class="btn btn-default" [routerLink]="['/tasks']">Quay lại danh sách</button></p>
	</div>
</section>
