/* You can add global styles to this file, and also import other style files */
a {
	cursor: pointer;
	transition: all 0.4s ease;
}
img {
	max-width: 100%;
}
.btn-default {
	border: 1px solid #ced4da;
}
.form-control.is-invalid {
	border-color: #d9534f;
}
.mb-20 {
	margin-bottom: 20px !important;
}
#contents {
	padding: 90px 0 50px;
}
.st-sidebar {
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
app-product-card .card-title {
	@media only screen and (max-width: 1199px) {
		font-size: 1.2rem;
	}
}
app-products app-product-card .card {
	height: 100%;
}
