<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title">Size: {{ size }}px</h3>
	</div>
	<div class="panel-body">
		<button type="button" class="btn btn-success" (click)="decSize()">Giảm</button>&nbsp;
		<button type="button" class="btn btn-success" (click)="incSize()">Tăng</button>
	</div>
</div>

