<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Course Management</h3>
	</div>
	<div class="panel-body">
		<button type="button" class="btn btn-primary" [routerLink]="['/courses/add']">ADD COURSE</button>
		<hr>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of courses; let i = index">
					<td>{{ i }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.fee > 0 ? (item.fee | currency: 'USD' : true) : 'FREE' }}</td>
					<td>
						<button type="button" class="btn btn-success" [routerLink]="['/courses', item.id, 'edit']">Edit</button>
						&nbsp;
						<button type="button" class="btn btn-danger" (click)="onDeleteCourse(item.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>