<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/" title>
      <i nz-icon type="home"></i>
      <span class="nav-text">Home</span>
    </a>
  </li>

  <li nz-submenu>
    <span title>
      <i nz-icon type="unordered-list"></i>
      <span class="nav-text">Blog Management</span>
    </span>
    <ul>
      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="/blogs">Blog list</a>
      </li>
    </ul>
  </li>

  <li nz-submenu>
    <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
    <ul>
      <li nz-menu-item>Team 1</li>
      <li nz-menu-item>Team 2</li>
    </ul>
  </li>
</ul>
