<nz-dropdown [nzTrigger]="'click'" class="box-setting">
  <a nz-dropdown class="btn-dropdown"> <i nz-icon type="setting"></i> </a>

  <ul nz-menu>
    <li nz-menu-item><i nz-icon type="user"></i> My account</li>
    <li nz-menu-item><i nz-icon type="line-chart"></i> 2nd menu item</li>
    <li nz-menu-divider></li>
    <li nz-submenu>
      <span title><i nz-icon type="unordered-list"></i> Sub menu</span>
      <ul>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item>4th menu item</li>
      </ul>
    </li>
    <li nz-menu-item><i nz-icon type="logout"></i> Sign out</li>
  </ul>
</nz-dropdown>
