<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" class="active"><i class="pi pi-home"></i> Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/blogs"><i class="pi pi-list"></i> Blog list</a>
    </li>
  </ul>
</nav>
