<ul class="task-filters">
	<li [routerLink]="['/tasks']">
		<a [class.active]="status == 0">View All</a>
	</li>
	<li [routerLink]="['/tasks', { completed: false }]">
		<a [class.active]="status == -1">In Progress</a>
	</li>
	<li [routerLink]="['/tasks', { completed: true }]">
		<a [class.active]="status == 1">Completed</a>
	</li>
</ul>
<div class="task-list">
	<app-task-item
		*ngFor="let task of tasks"
		[task]="task"
		(setStatus)="setStatusConnector.emit(task)"
		(delete)="deleteConnector.emit(task.id)"
		(update)="updateConnector.emit(task)"
	></app-task-item>
</div>
