<h1>04-Sử dụng ngFor directive hiện danh sách một List các object trong Angular 5</h1>
<h2>My favorite movies</h2>
<div class="parent">
  <ol class="movie-list">
    <li class="movieListItem" *ngFor="let eachMovie of movies">
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </li>
  </ol>
</div>
