<div class="row">
	<div class="col-md-3">
		<app-product-filter [category]="category"></app-product-filter>
	</div>
	<div class="col-md-9">
		<p *ngIf="filteredProducts.length > 0">Total: {{ filteredProducts.length }}</p>
		<div class="row" *ngIf="cart$ | async as cart">
			<div class="col-sm-6 col-xl-4 mb-4" *ngFor="let product of filteredProducts">
				<app-product-card [product]="product" [shopping-cart]="cart"></app-product-card>
			</div>
		</div>
	</div>
</div>
