<form (ngSubmit)="onSubmit()" class="form-search">
  <div nz-row [nzGutter]="30">
    <div nz-col nzSpan="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">ID</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input [(ngModel)]="id" [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Title</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input [(ngModel)]="title" [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="30">
    <div nz-col nzSpan="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Description</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input [(ngModel)]="desc" [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Detail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input [(ngModel)]="detail" [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="30">
    <div nz-col nzSpan="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Category</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select
            [(ngModel)]="categoryId"
            [ngModelOptions]="{standalone: true}"
            nzAllowClear
            nzPlaceHolder="Choose a category"
          >
            <nz-option
              *ngFor="let item of categoryList" [nzLabel]="item.label" [nzValue]="item.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24" [nzMd]="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Public Status</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group [(ngModel)]="publicStatus" [ngModelOptions]="{standalone: true}">
            <label nz-radio [nzValue]="0">All</label>
            <label nz-radio [nzValue]="1">Yes</label>
            <label nz-radio [nzValue]="2">No</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-form-item>
    <nz-form-control class="text-center">
      <button type="submit" nz-button nzType="primary">
        <i nz-icon type="search"></i>
        Search
      </button>
      &nbsp;
      <button type="button" nz-button nzType="default" (click)="clear()">
        <i nz-icon type="close"></i>
        Clear
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
