<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <h3 style="float: left; padding: 5px 0 0; margin: 0;">BLOG LIST</h3>
      <button
        pButton
        type="button"
        label="Create a blog"
        icon="pi pi-plus"
        style="float: right;"
        routerLink="/blog-new"
      >
      </button>
    </div>
  </p-header>

  <app-blog-search-form (search)="onSearch($event)"></app-blog-search-form>
  <app-blog-table [blogList]="blogList" (delete)="onDelete($event)"></app-blog-table>
</p-panel>

<p-confirmDialog #confirmDialog class="confirm_dialog_delete">
  <p-footer>
    <button
      pButton
      type="button"
      label="Yes"
      class="ui-button-danger"
      icon="pi pi-check"
      (click)="confirmDialog.accept()"
    >
    </button>
    <button
      pButton
      type="button"
      label="No"
      icon="pi pi-times"
      (click)="confirmDialog.reject()"
    >
    </button>
  </p-footer>
</p-confirmDialog>
