<div class="row no-gutters product-quantity">
	<div class="col-2">
		<button
			type="button"
			class="btn btn-block btn-secondary"
			(click)="removeFromCart()">
			-
		</button>
	</div>
	<div class="col text-center" style="padding: 6px;">
		{{ shoppingCart.getQuantity(product) }} in cart
	</div>
	<div class="col-2">
		<button
			type="button"
			class="btn btn-block btn-secondary"
			(click)="addToCart()">
			+
		</button>
	</div>
</div>
