<div class="card">
	<img class="card-img-top" *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.title">
	<div class="card-body">
		<h4 class="card-title">{{ product.title }}</h4>
		<p class="card-category"><strong>{{ product.category }}</strong></p>
		<p class="card-price mb-0"><strong>{{ product.price | currency:'USD' }}</strong></p>
	</div>
	<div class="card-footer p-0" *ngIf="showActions && shoppingCart">
		<button
			type="button"
			class="btn btn-block btn-primary"
			*ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
			(click)="addToCart()">
			Add To Card
		</button>
		<ng-template #updateQuantity>
			<app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
		</ng-template>
	</div>
</div>
