<h1>05-Bắt và ràng buộc sự kiện-event binding trong Angular 5  </h1>
<h2>My favorite movies</h2>
<div class="parent">
  <ol class="movie-list">
    <li
      class="movieListItem"
      *ngFor="let eachMovie of movies"
      [class.selected]="eachMovie === selectedMovie"
      (click)="onSelect(eachMovie)"
    >
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </li>
  </ol>
</div>
