<nz-layout>
  <nz-sider
    nzCollapsible
    [nzWidth]="width"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzReverseArrow]="isReverseArrow"
    class="menu-sidebar"
  >
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>

    <app-main-nav [isCollapsed]="isCollapsed"></app-main-nav>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>

    <nz-content style="margin: 0 15px;">
      <router-outlet></router-outlet>
    </nz-content>

    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
