<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzReverseArrow]="isReverseArrow"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>

    <app-main-nav [isCollapsed]="isCollapsed"></app-main-nav>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header
        [isCollapsed]="isCollapsed"
        (toggleCollapse)="isCollapsed = !isCollapsed"
      >
      </app-header>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>