<nz-breadcrumb style="margin: 16px 0;">
  <nz-breadcrumb-item>
    <a routerLink="/">Home</a>
  </nz-breadcrumb-item>

  <nz-breadcrumb-item>Blog list</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-card nzTitle="Blog list" [nzExtra]="refCardExtra">
  <app-blog-search-form (search)="onSearch($event)"></app-blog-search-form>
  <app-blog-table [blogList]="blogList" (delete)="onConfirmDelete($event)"></app-blog-table>
</nz-card>

<ng-template #refCardExtra>
  <button nz-button nzType="primary" routerLink="/blog-new">
    <i nz-icon [nzType]="'plus'" [nzTheme]="'outline'"></i>
    Create
  </button>
</ng-template>
