<nz-breadcrumb style="margin: 16px 0;">
  <nz-breadcrumb-item>
    <a routerLink="/">Home</a>
  </nz-breadcrumb-item>

  <nz-breadcrumb-item>
    <a routerLink="/blogs">Blog list</a>
  </nz-breadcrumb-item>

  <nz-breadcrumb-item>
    {{ id ? 'Update' : 'Create a blog' }}
  </nz-breadcrumb-item>
</nz-breadcrumb>

id: {{ id }}

<nz-card [nzTitle]="refCardHeader">
  <form
    nz-form
    [formGroup]="blogForm"
    class="form"
    (ngSubmit)="onSubmit()"
    class="form-blog"
  >
    <div nz-row [nzGutter]="30">
      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6" nzRequired>Title</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18" [nzErrorTip]="errorTitle">
            <nz-input-group nzPrefixIcon="font-colors">
              <input type="text" nz-input formControlName="title" placeholder="Title" />
            </nz-input-group>

            <ng-template #errorTitle let-control>
              <ng-container *ngIf="blogForm.get('title')?.dirty && blogForm.get('title')?.errors?.required">
                The title field is required
              </ng-container>
              <ng-container *ngIf="blogForm.get('title')?.dirty && blogForm.get('title')?.errors?.minlength?.requiredLength">
                The title field must have at least {{ blogForm.get('title')?.errors?.minlength?.requiredLength }} characters
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6" nzRequired>Description</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18" [nzErrorTip]="errorDescription">
            <nz-input-group nzPrefixIcon="font-colors">
              <input type="text" nz-input formControlName="desc" placeholder="Description" />
            </nz-input-group>

            <ng-template #errorDescription let-control>
              <ng-container *ngIf="blogForm.get('desc')?.dirty && blogForm.get('desc')?.errors?.required">
                The description field is required
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6" nzRequired>Detail</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18" [nzErrorTip]="errorDetail">
            <textarea nz-input formControlName="detail" rows="5" placeholder="Detail"></textarea>

            <ng-template #errorDetail let-control>
              <ng-container *ngIf="blogForm.get('detail')?.dirty && blogForm.get('detail')?.errors?.required">
                The detail field is required
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6" nzRequired>Image</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18" [nzErrorTip]="errorThumb">
            <nz-input-group nzPrefixIcon="font-colors">
              <input type="text" nz-input formControlName="thumb" placeholder="Image" />
            </nz-input-group>

            <ng-template #errorThumb let-control>
              <ng-container *ngIf="blogForm.get('thumb')?.dirty && blogForm.get('thumb')?.errors?.required">
                The image field is required
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6" nzRequired>Category</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18" [nzErrorTip]="errorCategory">
            <nz-select
              formControlName="categoryId"
              nzAllowClear
              nzPlaceHolder="Choose a category"
            >
              <nz-option
                *ngFor="let item of categoryList"
                [nzLabel]="item.label"
                [nzValue]="item.value"
              >
              </nz-option>
            </nz-select>

            <ng-template #errorCategory let-control>
              <ng-container *ngIf="blogForm.get('categoryId')?.dirty && blogForm.get('categoryId')?.errors?.required">
                The category field is required
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6" nzRequired>Position</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18" [nzErrorTip]="errorPositionIds">
            <nz-checkbox-group formControlName="positionIds"></nz-checkbox-group>

            <ng-template #errorPositionIds let-control>
              <!-- <ng-container *ngIf="blogForm.get('positionIds')?.dirty && blogForm.get('positionIds')?.errors?.required">
                The position field is required
              </ng-container> -->
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6" nzRequired>Public date</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18" [nzErrorTip]="errorPublicAt">
            <nz-date-picker
              formControlName="publicAt"
              nzFormat="dd/MM/yyyy"
              nzPlaceHolder="YYYY/MM/DD"
            >
            </nz-date-picker>

            <ng-template #errorPublicAt let-control>
              <ng-container *ngIf="blogForm.get('publicAt')?.dirty && blogForm.get('publicAt')?.errors?.required">
                The public date field is required
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <nz-form-item>
          <nz-form-label [nzXs]="24" [nzSm]="6">Public status</nz-form-label>

          <nz-form-control [nzXs]="24" [nzSm]="18">
            <nz-switch formControlName="publicStatus"></nz-switch>

            <span style="display: inline-block; vertical-align: middle; padding: 0 0 0 10px;">
              {{ blogForm.get('publicStatus')?.value ? 'Yes' : 'No' }}
            </span>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <nz-form-item>
      <nz-form-control class="text-center">
        <button type="submit" nz-button nzType="primary">
          <i nz-icon [nzType]="'save'" [nzTheme]="'outline'"></i>
          Save
        </button>

        &nbsp;
        <button type="button" nz-button nzType="default" (click)="resetForm()">
          <i nz-icon [nzType]="'clear'" [nzTheme]="'outline'"></i>
          Reset
        </button>

        &nbsp;
        <button type="button" nz-button nzType="default" [routerLink]="['/blogs']">
          <i nz-icon [nzType]="'arrow-left'" [nzTheme]="'outline'"></i>
          Back to list
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<ng-template #refCardHeader>
  <!-- <i ng-if="false" nz-icon nzType="plus-circle" nzTheme="outline"></i>
  <i ng-if="id" nz-icon nzType="edit" nzTheme="outline"></i> -->
  <!-- {{ id ? <i nz-icon nzType="edit" nzTheme="outline"></i> : <i nz-icon nzType="plus-circle" nzTheme="outline"></i> }} -->
  {{ id ? 'Update' : 'Create' }}
</ng-template>
