<span class="header-trigger" (click)="onToggle()">
  <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
</span>

<div class="box-setting">
  <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="btn-dropdown">
    <i nz-icon [nzType]="'setting'" [nzTheme]="'outline'"></i>
  </a>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <i nz-icon [nzType]="'user'" [nzTheme]="'outline'"></i>
        My account
      </li>
      <li nz-menu-item>
        <i nz-icon [nzType]="'line-chart'" [nzTheme]="'outline'"></i>
        Statistic
      </li>
      <li nz-menu-divider></li>
      <li nz-submenu nzTitle="More Setting">
        <ul>
          <li nz-menu-item>3rd menu item</li>
          <li nz-menu-item>4th menu item</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon [nzType]="'logout'" [nzTheme]="'outline'"></i>
        Sign out
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
