<nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav navbar-nav">
			<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<a [routerLink]="['/']">Home</a>
			</li>
			<li routerLinkActive="active">
				<a [routerLink]="['/courses']">Courses</a>
			</li>
		</ul>
	</div>
</nav>

<section [style.margin-top]="'30px'">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
