<h3 class="mb-3">Your Orders</h3>

<table class="table">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of orders$ | async">
			<td>{{ order.shipping.name }}</td>
			<td>{{ order.datePlaced | date:'medium'}}</td>
			<td><a href="#">View</a></td>
		</tr>
	</tbody>
</table>
