<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-push-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">{{ task.id ? 'Sửa Công Việc' : 'Thêm Công Việc' }}</h3>
					</div>
					<div class="panel-body">
						<form (submit)="onSave($event)">
							<div class="form-group">
								<label>Tên:</label>
								<input
									type="text"
									name="name"
									required=""
									class="form-control"
									[(ngModel)]="task.name"
								>
							</div>
							<div class="form-group">
								<label>Trạng Thái:</label>
								<select
									class="form-control"
									name="status"
									[(ngModel)]="task.status"
								>
									<option value="true">Kích Hoạt</option>
									<option value="false">Ẩn</option>
								</select>
							</div>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-primary"><i class="fa fa-save mr-5"></i>Lưu Lại</button>
							</div>
						</form>
					</div>
				</div>
				<hr>
				<p class="text-center"><button class="btn btn-default" [routerLink]="['/tasks']">Quay lại danh sách</button></p>
			</div>
		</div>
	</div>
</div>
