<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Template Driven Forms</h3>
	</div>
	<div class="panel-body">
		<form #frmUser="ngForm" (ngSubmit)="onSubmitForm(frmUser)" novalidate="true" autocomplete="false">
			<div class="form-group">
				<label>Username</label>
				<input
					type="text"
					name="txtUsername"
					required="required"
					minlength="3"
					maxlength="20"
					class="form-control"
					[(ngModel)]="user.username"
					#username="ngModel"
				>
				<span class="label label-danger" *ngIf="username.dirty && username.errors?.required">Vui lòng nhập username</span>
				<span class="label label-danger" *ngIf="username.errors?.minlength">Username phải có độ dài tối thiểu 3 ký tự</span>
				<span class="label label-danger" *ngIf="username.errors?.maxlength">Username có độ dài tối đa 20 ký tự</span>
				<br>{{ username.errors | json }}
			</div>
			<div class="form-group">
				<label>Password</label>
				<input
					type="password"
					name="txtPassword"
					required="required"
					pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
					class="form-control"
					[(ngModel)]="user.password"
					#password="ngModel"
				>
				<span class="label label-danger" *ngIf="password.dirty && password.errors?.required">Vui lòng nhập password</span>
				<span class="label label-danger" *ngIf="password.errors?.pattern">Password phải có độ dài tối thiểu 3 ký tự, bao gồm chữ hoa, chữ thường, số, ký tự đặc biệt</span>
			</div>
			<div class="form-group">
				<label>Fullname</label>
				<input
					type="text"
					name="txtFullname"
					required="required"
					class="form-control"
					[(ngModel)]="user.fullname"
					#fullname="ngModel"
				>
				<span class="label label-danger" *ngIf="fullname.dirty && fullname.errors?.required">Vui lòng nhập fullname</span>
			</div>
			<div ngModelGroup="contact">
				<div class="form-group">
					<label>Email</label>
					<input
						type="text"
						name="txtEmail"
						required="required"
						pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
						class="form-control"
						[(ngModel)]="user.email"
						#email="ngModel"
					>
					<span class="label label-danger" *ngIf="email.dirty && email.errors?.required">Vui lòng nhập email</span>
					<span class="label label-danger" *ngIf="email.errors?.pattern">Email không đúng định dạng</span>
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input
						type="text"
						name="txtPhone"
						class="form-control"
						[(ngModel)]="user.phone"
						#phone="ngModel"
					>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="frmUser.invalid">Save</button>
			&nbsp;
			<button type="button" class="btn btn-primary" (click)="onResetForm(frmUser)">Reset</button>
		</form>
	</div>
</div>
