/* You can add global styles to this file, and also import other style files */
/* -----------------------------------------------------------
  common
----------------------------------------------------------- */
html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

/* -----------------------------------------------------------
  form
----------------------------------------------------------- */
.ant-form-item-label {
  white-space: normal;
  > label {
    padding-right: 15px;
    &:after {
      display: none;
    }
  }
}
