<h3 class="mb-3">Shipping</h3>

<div class="row" *ngIf="cart$ | async as cart">
	<div class="col-lg-6">
		<app-shipping-form [cart]="cart"></app-shipping-form>
	</div>
	<div class="col-lg-6">
		<app-shopping-cart-summary [cart]="cart"></app-shopping-cart-summary>
	</div>
</div>
