<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/" title>
      <i nz-icon [nzType]="'home'" [nzTheme]="'outline'"></i>
      <span class="nav-text">Home</span>
    </a>
  </li>

  <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">Welcome</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Monitor</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Workplace</a>
      </li>
    </ul>
  </li>

  <li nz-submenu nzOpen nzTitle="Blog Management" nzIcon="unordered-list">
    <ul>
      <li nz-menu-item>
        <a routerLink="/blogs">Blog list</a>
      </li>
    </ul>
  </li>

  <li nz-submenu nzTitle="Form" nzIcon="form">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a>Basic Form</a>
      </li>
    </ul>
  </li>
</ul>
